$font-sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
$font-emoji: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;

$medium: 867px !default;
$main-width: 70ch !default;

$font-size-base: 18px !default;
$line-height-base: 1.6rem !default;

$margin-1: 1rem;
$margin-2: 2rem;
$margin-4: 4rem;

$padding-1: 1rem;
