* {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

:focus {
  outline: medium auto currentColor;
  outline: medium auto invert;
  outline: 5px auto -webkit-focus-ring-color;
}

body {
  font-family: $font-sans-serif, $font-emoji;
  padding: $margin-2;
  text-rendering: optimizeLegibility;
}

main {
  max-width: $main-width;
  margin: 0 auto;
}

header,
footer {
  margin: $margin-4 0;
}

header div.site-title {
  font-weight: bold;
}

a {
  text-decoration: none;
  padding: 0 0 1px 0;
  border-bottom: 1px solid;

  &:hover, &:focus, &:active {
    padding-bottom: 0;
    border-bottom: 2px solid;
  }

  &, &:visited {
    color: initial
  }
}

time {
  color: $color-text-faint;
  font-variant-numeric: tabular-nums;
}
