<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode }}">
<head>
{{ partial "head.html" . }}

{{- if or (eq .Params.ratings.rating "mature") (eq .Params.ratings.rating "explicit") -}}
  {{ partial "head-warning-modal.html" . }}
{{- end -}}

{{ partial "schema.html" . }}
</head>

{{ $.Scratch.Set "section" (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) }}
<body class="{{ if .IsHome }}home{{ else }}{{ $.Scratch.Get "section" }}{{ end }}">
<main>
<header>
{{ partial "header.html" . }}
</header>

{{- block "main" . -}}{{- end -}}

<footer>
{{ partial "footer.html" . }}
</footer>
</main>
</body>
</html>
