{{ define "main" }}

<h1>
{{ .Title }}
{{- partial "ratings.html" . -}}
</h1>
{{- partial "meta.html" . -}}

{{/* printf "%t" .Params */}}

{{- if or (eq .Params.ratings.rating "mature") (eq .Params.ratings.rating "explicit") -}}
  {{- partial "warning-modal.html" . -}}
{{- end -}}

<article>
{{- .Content -}}

<ul class="list">
  {{ range .Pages }}
  <li>
  <a href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
  {{- partial "ratings.html" . -}}
  {{- partial "meta.html" . -}}
  </li>
  {{- end -}}
</ul>
</article>
{{ end }}
