{{ define "main" }}

{{- if .Params.date -}}
  {{/* this is a multi-chapter article list page */}}
  <h1>
  {{ .Title }}
  {{- partial "ratings.html" . -}}
  </h1>
  {{- partial "meta.html" . -}}
{{- else -}}
  {{/* this is an actual section list page */}}
  <h1>{{ .Title }}</h1>
{{- end -}}

{{/* printf "%t" .Params */}}

{{- if or (eq .Params.ratings.rating "mature") (eq .Params.ratings.rating "explicit") -}}
  {{- partial "warning-modal.html" . -}}
{{- end -}}

<article>
{{- .Content -}}

<ul class="list {{ .Section }}">
  {{ range .Pages }}
  <li>
  <a href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
  {{- partial "ratings.html" . -}}
  {{- partial "meta.html" . -}}
  </li>
  {{- end -}}
</ul>
</article>

{{ end }}{{/* end of "main" */}}
