<div class="meta">
<time>{{ .Date.Format (.Site.Params.dateFormat | default "01·02·2006" ) }}</time>

{{ $categories := slice "fandoms" "characters" "tags" }}
{{ range $k, $v := $categories }}

  {{ $terms := ( $.Page.GetTerms $v ) }}
  {{ if $terms }}
  <span>—
  {{ range $key, $value := $terms }}
    <a href="{{ .Permalink }}">
      {{ partial "tag-sign.html" . }}{{ .Title }}{{ if ne $key (sub (len $terms) 1) }}, {{ end }}
    </a>
  {{ end }}
  </span>
  {{ end }}

{{ end }}

<br>

<span>
  {{- if .Description -}}
  {{- .Description -}}
  {{- else -}}
  {{- if .Site.Params.showSummary -}}
  {{- truncate 140 .Summary -}}
  {{- end -}}
  {{- end -}}
</span>
</div>
